---
name: Go Check Versions

on:
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:

permissions: {}

defaults:
  run:
    working-directory: aws-cli

jobs:
  go-check-versions:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: "stable"
          check-latest: true
      - name: Check outdated dependencies
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          go get -u ./...
          go mod tidy
          if ! git diff --exit-code go.mod go.sum; then
            exit 1
          fi
